/* Stile per il corpo della pagina */
body {
    /* sfumatura di colore di sfondo */
    background: linear-gradient(#c2c2c2, #89b3c9); /* Grigio chiaro e grigio medio */
    color: #303030; /* Grigio scuro */
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Per evitare lo scorrimento orizzontale */
}

/* Stili per il contenitore principale */
.container {
    max-width: 1300px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    background: #e6e6e6; /* Grigio molto chiaro */
}

/* Stili per i campi del modulo */
.form-control {
    background-color: #f5f5f5; /* Grigio molto chiaro */
    border: 1px solid #90a4ae; /* Grigio medio */
    color: #303030; /* Grigio scuro */
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #4A90E2; /* Azzurro */
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5); /* Effetto ombra al focus */
}

/* Stile per il pulsante principale */
.btn-primary {
    background-color: #4A90E2; /* Azzurro */
    border-color: #4A90E2; /* Azzurro */
    border-radius: 25px;
    color: #ffffff; /* Bianco */
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease-out, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #357ABD; /* Azzurro più scuro */
    border-color: #357ABD; /* Azzurro più scuro */
    transform: scale(1.05); /* Effetto di zoom al hover */
    color: #ffffff; /* Bianco */
}

/* Stile per le etichette dei campi del modulo */
.form-group label {
    color: #455A64; /* Grigio scuro */
}

/* Stile per l'intestazione */
h1 {
    text-align: center;
    color: #4A90E2; /* Azzurro */
    font-size: 4.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    color: #4A90E2; /* Azzurro */
    font-size: 2.0rem;
}

/* Stile per il footer */
footer {
    margin-top: 40px;
    text-align: center;
    color: #455A64; /* Grigio scuro */
    font-size: 0.9rem;
}

/* Stili per i modali */
.modal-content {
    background-color: #f5f5f5; /* Grigio molto chiaro */
    color: #303030; /* Grigio scuro */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: none;
}

.modal-header, .modal-footer {
    border-bottom: 1px solid #90a4ae; /* Grigio medio */
    border-top: none;
}

.modal-header .close {
    color: #303030; /* Grigio scuro */
}

.modal-title {
    color: #4A90E2; /* Azzurro */
    text-align: center;
    font-weight: bold;
}

.modal-body {
    padding: 20px;
    background-color: #e0e0e0; /* Grigio chiaro */
}

.modal-body ul, .modal-body p {
    margin-top: 20px;
    color: #303030; /* Grigio scuro */
}

/* Stili per il pulsante chiudi */
.modal-header .close:hover {
    color: #357ABD; /* Azzurro più scuro */
}

.modal-body form .form-control {
    background-color: #f5f5f5; /* Grigio molto chiaro */
    border-color: #90a4ae; /* Grigio medio */
    color: #303030; /* Grigio scuro */
}

.modal-body form .form-control:focus {
    border-color: #4A90E2; /* Azzurro */
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
}

.modal-footer .btn {
    background-color: #4A90E2; /* Azzurro */
    border-color: #4A90E2; /* Azzurro */
    color: #ffffff; /* Bianco */
}

.modal-footer .btn:hover {
    background-color: #357ABD; /* Azzurro più scuro */
    border-color: #357ABD; /* Azzurro più scuro */
    color: #ffffff; /* Bianco */
}

/* Stile per i paragrafi */
p {
    font-size: 1.2rem; /* Puoi modificare questa dimensione secondo le tue necessità */
}
